html {
  background-color: #313131;
  color:            #d6d6d6;
  font-family:      sans-serif;
  font-size:        110%;
}
body {
  background-color: #333333;
  margin:           0 auto;
  max-width:        55em;
}
a:any-link {
  color:           #88a8ce;
  text-decoration: none;
}
ol {
  background-color: #3b3b3b;
  border-radius:    1em;
  list-style:       none;
  margin-top:       1em;
  padding:          .75em;
}
ol.odd {
  background-color: #474747;
}
li > ol {
  margin-bottom: calc(-.75em + 2px);
  margin-right:  calc(-.75em + 2px);
}
li p {
  margin:  .1em;
  padding: .1em;
}
li p span.name {
  display:     block;
  font-size:   1.2em;
  font-weight: bold;
  padding:     0;
  padding-bottom: .7em;
}
li > p > img {
  border-radius: 2.5em;
  float:         left;
  height:        5em;
  margin-right:  .5em;
  width:         5em;
}
li > p:nth-child(2) {
  clear:       both;
  padding-top: .75em;
}
a[data-rfc3339] {
  float: right;
}
