html {
  font-family: sans-serif;
  background:  hsl(30, 50%, 93%);
  color:       hsl(30, 50%, 44%);
}
body {
  margin: auto;
  max-width: 43rem;
}
a, a:visited {
  color: hsl(115, 50%, 35%);
  text-decoration: none;
}
h1 > a, h2 > a {
  font-size:   60%;
  vertical-align: baseline;
  position:   relative;
  top:        -0.7em;
}
#sep {
  text-align: center;
}
#poweredby {
  font-size:  80%;
  color:      #888;
  border-top: 2px solid darkgrey;
  padding-top: 1ex;
}
p[lang="en"]::after { content: "🇬🇧"; }
pre[lang="en"]::before { content: "🇬🇧"; }
p[lang="fr"]::after { content: "🇫🇷"; }

@media (prefers-color-scheme: dark) {
  html {
    background: hsl(30, 20%, 23%);
  }
}

